.slider {
	max-width: 100%;
}

.text {
	max-width: 65.3em;
}

.smalltext {
	max-width: 30em;
}

.video {
	max-width: 65.3em;
}

.smallvideo {
	max-width: 30em;
}

.photo {
	max-width: 65.3em;
}

.smallphoto {
	max-width: 30em;
}