header {
	display: block;
}

main {
	margin-top: -1.5em;
	margin-bottom: -9em;
	min-height: 100em;
	max-width: 97em;
}




/** front page **/
.slider {
	max-width: 94.5em;
}

.banner {
	max-width: 57em;
}

.video {
	max-width: 62em;
}

.smallvideo {
	max-width: 30em;
}

.text {
	max-width: 62em;
}

.smalltext {
	max-width: 30em;
}

.photo {
	max-width: 62em;
}

.smallphoto {
	max-width: 30em;
}


.article {
	max-width: 86.5em;
}


