* {
	margin: 0;
	padding: 0;
}

html {
  font-size:62.5%;
}

body {
}

header {
	height: 185px;
	text-align: center;
}

main {
	position: relative;
	margin: 0 auto;
	margin-top: -60px;
	overflow: hidden;
	padding: 15px;
}

main>footer {
	clear: both;
	position: relative;
	top: 15px;
}

nav {
}

figure {
  margin-top: 15px;
  _margin-left: 10px;
  _margin-right: 10px;
}

article {
  margin-top: 15px;
  _margin-left: 10px;
  _margin-right: 10px;
}


footer {
	height: 140px;
}