/* Document level adjustments */

@media (max-width: 900px) {
}
@media (max-width: 400px) {
}

/* Modules will scale with document */
header {
  font-size: 1.5rem;
}
footer {
  font-size: 0.75rem;
}
article {
  _font-size: 0.85rem;
}

/* Type will scale with modules */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}



a {
font-size: 1.5rem;
}