/* All pages */
.block {
	margin-top: 1.7em;
	overflow: hidden;
	float: left;
	width: 100%;
	background-color: #fff;
}

.block > div {
	 height:428px;
	 overflow:hidden;
}

.inline {
  display: inline;
}

.left {
	margin-right:1.7em;
}

.right {
  margin-left:1.7em;
}