* {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	display: block;
	height: 140px;
}

main {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 1.7em;
	margin-top: -1.5em;
	min-height: 100em;
	max-width: 97em;
}

.block {
	margin-top: 1.7em;
	overflow: hidden;
	float: left;
	width: 100%;
	background-color: #fff;
}

.block>div {
	height: 42.8em;
	overflow: hidden;
}

.inline {
	display: inline;
}