body {
	background-color: #fff;
}

header {
	background-image:
		url('../images/placeholders/menu_background_(14x125).jpg');
	text-align: center;
	background-repeat: repeat-x;
}

main {
	_background-color: #cca;
}

.block>div {

}

.video {
	border: 1px solid #ccc;
}

.smallvideo {
	border: 1px solid #ccc;
}

.text {
	border: 1px solid #ccc;
  padding: 1.5em;
}

.smalltext {
	border: 1px solid #ccc;
	padding: 1.5em;
}

.photo {
	border: 1px solid #ccc;
}

.smallphoto {
	border: 1px solid #ccc;
}